/* Set up some CSS variables used throughout */
:root {
    --logo-font: "Teko", sans-serif;
    --header-font: "Teko", sans-serif;
    --body-font: "Lora", serif;
    --offwhite-bg: #f7f7f7;
    --container-width: 70rem;
    --ebdsa: #ed1b24ff;
}

body {
  font-family: var(--body-font);
  min-height: calc(100vh + 1px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

body {
    overflow-x: hidden;
}

.pta-videobg {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: 400px;
    z-index: -1;
}

.pta-header {
    /*background: rgba(0, 0, 0, 0.8);*/
    background: rgba(255, 255, 255, 0.8);
    color: black;
    margin-bottom: -10px;
    padding-bottom: 50px;
}

.pta-slab h1 {
}

.pta-navbar {
    background: var(--offwhite-bg);
}

.pta-navbar_link {
    color: black;
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.pta-navbar_link:hover {
    color: var(--ebdsa);
}

.pta-button {
    padding: 15px;
    font-family: var(--logo-font);
    font-weight: 700;
    border: 1px solid var(--ebdsa);
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s
        ,color 0.3s
        ,background-color 0.3s
        ;
}

.pta-button.pta-navbar_link {
    padding-bottom: 5px;
    padding-top: 10px;
}

.pta-button__jumbo {
    background-color: rgba(255, 255, 255, 0.5);
}

.pta-button:hover {
    box-shadow: 0 0 6px 0 var(--ebdsa);
    color: var(--ebdsa);
    background-color: rgba(255, 255, 255, 1.0);
}

.pta-navbar_link__active {
    color: var(--ebdsa);
    text-decoration: underline;
}


.pta-navbar_logo {
    font-family: var(--logo-font);
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    font-weight: 400;
}

.pta-navbar_logo > img {
    height: 50px;
    margin-bottom: -10px;
}

.pta-jumbotron {
    padding-bottom: 90px;
}

.pta-platform img {
    height: 200px;
}

.pta-platform_plank {
    position: relative;
}

.pta-platform_caption {
    text-align: left;
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 3rem;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 1;
}

.pta-jumbotron_title {
    text-align: right;
    font-size: 6.5rem;
    line-height: 0.8;
    font-weight: 900;
}

.pta-jumbotron_title__toptext {
    color: black;
}

.pta-jumbotron_title__midtext {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
}

.pta-jumbotron_title__endtext {
    color: var(--ebdsa);
    /*text-shadow: 0 0 2px black;*/
    /*-webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;*/
}

.pta-jumbotron_title {
    /*
    background: black;
    color: white;
    height: 230px;
    width: 230px;
    */
    /*box-shadow: 40px 40px 0 10px rgba(0, 0, 0, 0.8);*/
}

/*
.pta-jumbotron_title__endtext {
    color: white;
    color: var(--ebdsa);
    margin: 0;
    line-height: 0.3;
    width: 80px;
    display: inline-block;
}
*/

.pta-jumbotron_pullquote {
    margin-top: 80px;
    text-align: left;
    font-size: 1.8rem;
    max-width: 500px;
}


.pta-main {
    /*background: var(--offwhite-bg);*/
}

.pta-navbar_inner,
.pta-jumbotron_inner,
.pta-main_inner,
.pta-footer_inner {
    max-width: var(--container-width);
}

.pta-navbar_inner {
    align-items: baseline;
}

@media screen and (max-width: 768px) {
    .pta-navbar {
        margin: 1px !important;
        padding: 1px !important;
    }
    .pta-navbar_link {
        margin-top: 30px;
    }

    .pta-videobg {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .pta-header {
        padding-bottom: 10px;
    }
}


/* LAYOUT for BULLETIN page (and similar pages) */
@media (min-width: 992px) {
    /* only for desktop */
    .pta-main {
        margin-top: -120px;
    }
    .pta-left-aside {
        display: block;
        max-width: 400px;
        background: whiteSmoke;
        padding: 10px;
    }

    .pta-bulletin-info {
        display: flex;
    }
}

