:root {
    --header-font: "Bebas Neue", sans-serif;
    --offwhite-bg: #f7f7f7;
    --container-width: 70rem;
    --ebdsa: #ed1b24ff;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

body {
    overflow-x: hidden;
}

.pta-videobg {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: 400px;
    z-index: -1;
}

.pta-header {
    /*background: rgba(0, 0, 0, 0.8);*/
    background: rgba(255, 255, 255, 0.8);
    color: black;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.pta-slab h1 {
}

.pta-navbar {
    background: var(--offwhite-bg);
}

.pta-navbar_link {
    color: black;
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 25px;
}

.pta-navbar_link__active {
    color: var(--ebdsa);
}

.pta-navbar_logo {
    font-family: var(--header-font);
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
}

.pta-navbar_logo > img {
    height: 50px;
    margin-bottom: -10px;
}

.pta-jumbotron {
    padding-bottom: 90px;
}

.pta-platform img {
    height: 200px;
}

.pta-platform_plank {
    position: relative;
}

.pta-platform_caption {
    text-align: left;
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 3rem;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 1;
}

.pta-hero_title {
    text-align: right;
    font-size: 7rem;
    line-height: 0.8;
}

.pta-hero_title__midtext {
    font-size: 6rem;
    opacity: 0.8;
}

.pta-hero_title__endtext {
    color: var(--ebdsa);
}

.pta-hero_pullquote {
    margin-top: 80px;
    text-align: left;
    font-size: 2.1rem;
    max-width: 500px;
}

.pta-main {
    /*background: var(--offwhite-bg);*/
}

.pta-navbar_inner,
.pta-jumbotron_inner,
.pta-main_inner,
.pta-footer_inner {
    max-width: var(--container-width);
}


@media screen and (max-width: 768px) {
    .pta-navbar {
        margin: 1px !important;
        padding: 1px !important;
    }

    .pta-videobg {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}
