/* Set up some CSS variables used throughout */
:root {
    /*--logo-font: "Teko", sans-serif;*/
    /*--header-font: "Teko", sans-serif;/
    /*--body-font: "Lora", serif;*/
    --header-font: 'Manifold DSA', sans-serif;
    --body-font: 'Manifold DSA', sans-serif;
    --logo-font: 'Manifold DSA', sans-serif;
    --offwhite-bg: #f7f7f7;
    --container-width: 70rem;

    /* https://design.dsausa.org/national-identity/color-palette/ */
    --ebdsa: #ec1f27;
    --ebdsa-tint1: #f04c53;
    --ebdsa-tint2: #f4797e;
    --ebdsa-tint3: #fbd2d4;
    --offblack: #231f20;
    --gray1: #3b3838;
    --gray2: #605c5c;
    --gray3: #8c8989;
    --gray4: #c1c0bf;
    --gray5: whiteSmoke;

    --peach: #fcd4b7;

    --purple: #492b7f;

    --navbar-height: 134px;
}

body {
    font-family: var(--body-font);
    min-height: calc(100vh + 1px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font) !important;
}

body {
    overflow-x: hidden;

    /*
        Without "overflow-anchor", Chrome-based browsers cause the navbar to
        shift to the left on refresh (very bizarre bug only on Chrome)
        https://stackoverflow.com/questions/59524026
    */
    overflow-anchor: none;
}

.pta-navbar {
    background: var(--ebdsa);
    color: white;
    top: 0;
    z-index: 100;
}

/* Extremely messy float-based layout for headers / sections */
@media (min-width: 768px) {
    .u--float-headers-left {
        padding-top: 30px;
        clear: both;
    }
    .u--float-headers-left > * {
        float: right;
        width: 80%;
    }

    .u--float-headers-left > h1,
    .u--float-headers-left > h2,
    .u--float-headers-left > h3,
    .u--float-headers-left > h4,
    .u--float-headers-left > h5,
    .u--float-headers-left > h6 {
        height: 0;
        float: left;
        width: 17%;
        text-transform: uppercase;
        clear: both;
        border: 2px solid var(--offblack);
        color: var(--offblack);
    }

    .u--float-figures > figure {
        display: block;
        width: 30%;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        float: left;
    }
}

.pta-header {
    color: black;
    margin-bottom: -10px;
    padding-bottom: 50px;
}

.pta-navbar_link {
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 600;
    color: white !important;
}

.pta-button {
    padding: 10px 15px;
    font-family: var(--logo-font);
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    background-color: var(--purple);
    color: white;
}

.pta-button__form {
    margin-top: -10px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
}

.pta-input {
    background: white;
    color: var(--offblack);
    border: 2px solid var(--offblack) !important;
    height: 60px;
}

.pta-button:hover {
    background-color: rgb(87, 58, 139);
    color: white;
}

.pta-button__form:hover {
    background-color: ghostwhite;
    color: black;
}

.pta-navbar_link__active {
    text-decoration: overline !important;
}

.pta-navbar_logo {
    display: flex;
    align-items: center;
    font-family: var(--logo-font);
    text-transform: uppercase;
    color: white !important;
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 320px;
    text-align: left;
    line-height: 1.1;
}

.pta-navbar_logo > img {
    height: 88px;
    float: left;
    margin-right: 20px;
}

/* Hide navbar image on small screens */
@media (max-width: 425px) {
    .pta-navbar_logo > img {
        display: none;
    }
}

.pta-platform img {
    height: 200px;
}

.pta-platform_plank {
    position: relative;
}

.pta-platform_caption {
    text-align: left;
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 3rem;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 1;
}

.pta-jumbotron {
    min-height: 580px;
    position: relative;
    width: 100%;
}

.pta-jumbotron_backgroundImg,
.pta-jumbotron_whiteScreen,
.pta-jumbotron_text {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.pta-jumbotron_backgroundImg {
    background-image: url('/images/jumbotron/posters.jpg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* 0.5s should be the same as the ONE_HALF_SECOND timeout in jumbotron.js */
    transition: opacity 0.5s linear;
    z-index: 0;
}

.pta-jumbotron_whiteScreen {
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.pta-jumbotron_text {
    z-index: 2;
}

.pta-jumbotron_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    padding: 60px 10px 20px 10px;
}

.pta-jumbotron_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0.8;
    font-weight: 800;
    font-family: var(--header-font) !important;
    background-color: var(--peach);
    border: 3px solid var(--ebdsa);
    padding: 35px;
}

.pta-jumbotron_title__toptext,
.pta-jumbotron_title__endtext {
    color: white;
    font-size: 75px;
    -webkit-text-stroke: 3px var(--purple);
    -webkit-text-fill-color: white;
}

.pta-jumbotron_title__midtext {
    border-bottom: 3px solid var(--ebdsa);
    border-top: 3px solid var(--ebdsa);
    color: var(--ebdsa);
    display: inline-block;
    font-size: 25px;
    line-height: 1.1;
    margin: 15px 0 10px 0;
    top: -20px;
}

.pta-jumbotron_pullquote {
    color: var(--ebdsa);
    font-size: 1.2rem;
    margin: 20px 0;
    max-width: 420px;
    text-align: center;
}

.pta-bulletin-sidebar {
    padding: 40px;
    margin-top: 30px;
    background: var(--gray5);
    color: black;
}
@media screen and (max-width: 768px) {
    .pta-bulletin-sidebar {
        padding: 3px;
    }
}

.pta-bulletin-sidebar h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.pta-main {
    /*background: var(--offwhite-bg);*/
}

.pta-footer {
    background: var(--ebdsa);
}

.pta-navbar_inner,
.pta-jumbotron_inner,
.pta-main_inner,
.pta-footer_inner {
    max-width: var(--container-width);
}

.pta-navbar_inner {
    align-items: baseline;
}

.u--bg-peach {
    background-color: var(--peach);
}

.u--overlap-200 {
    height: 200px;
    margin-top: -200px;
}

.pta-card {
    --pta-card-margin: 3px;
    border: 10px solid var(--offblack);
    border-radius: 1px;
    z-index: 1;
    position: relative;
    background: white;
    box-shadow: 10px 10px 0 var(--gray3);
}
.pta-card p,
.pta-card h1,
.pta-card h2,
.pta-card h3,
.pta-card h4 {
    margin: var(--pta-card-margin);
    margin-right: calc(var(--pta-card-margin) * 3);
}

.pta-card h1,
.pta-card h2,
.pta-card h3,
.pta-card h4 {
    font-weight: 800;
    /*
    padding: 0;
    background-color: var(--offblack);
    color: white;
    */
}

.pta-image-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1px;
    transition: background-color 0.3s;
}

:hover > .pta-image-caption,
:hover > .pta-image-caption:hover,
.pta-image-caption ~ a:hover {
    background: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 768px) {
    .pta-navbar_link {
        margin-left: 5px;
    }
}
@media screen and (min-width: 992px) {
    .pta-navbar_link {
        margin-left: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .pta-navbar_link {
        margin-left: 50px;
    }
    .pta-card {
        --pta-card-margin: 15px;
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .pta-navbar_logo {
        font-size: 1.3rem;
        min-width: 100px;
    }
    .pta-navbar_logo > img {
        height: 40px;
    }

    .pta-jumbotron_title {
        font-size: 2.5rem;
    }
    .pta-navbar_link {
        margin-top: 5px;
    }
    .pta-header {
        padding-bottom: 10px;
    }
}
