{{/* FEATURED VIDEO - For the index */}}
{{ $featured_video := .Params.jumbotron_video }}
{{ $featured_video_safari := .Params.jumbotron_video_safari }}
{{ if $featured_video }}
    <video autoplay muted loop class="pta-videobg">
        <source src="{{ $featured_video }}" type="video/webm">
        {{ if $featured_video_safari }}
            <source src="{{ $featured_video_safari }}" type="video/mp4">
        {{ end }}
    </video>
{{ end }}

<div class="u--jumbotron-outer-wrapper">
    <div class="container">
        <div class="pta-jumbotron">
            <div class="row p-3">
                {{ $featured_video := .Param "featured_video"}}
                <div class="col-lg-6">
                    <div class="pta-jumbotron_title">
                        <span class="pta-jumbotron_title__toptext">{{ .Params.jumbotron_copy_top }}</span> <br />
                        <span class="pta-jumbotron_title__midtext">{{ .Params.jumbotron_copy_middle }}</span> <br />
                        <span class="pta-jumbotron_title__endtext">{{ .Params.jumbotron_copy_bottom }}</span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pta-jumbotron_pullquote">
                        {{ .Params.jumbotron_copy_pullquote | markdownify }}
                    </div>

                    <!--<a href="/join/" class="no-underline f2 tc db w-100 pv3 bg-animate bg-dark-red hover-bg-red white br2">-->
                    <a href="{{ .Params.jumbotron_cta_button_destination }}" class="pta-button pta-button__jumbo">
                        {{ .Params.jumbotron_copy_cta_button }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{{/* DEAD CODE, to absolutize the video URLs (no longer needed) */}}
{{/*{{ $featured_video := (trim $featured_video "/") | absURL }} */}}
{{/*{{ $featured_video_safari := (trim $featured_video_safari "/") | absURL }}*/}}
