{{ partial "site-navigation.html" . }}

{{ if .Params.show_jumbotron }}
  {{ partial "jumbotron.html" . }}
{{ end }}

{{ if .Params.xtra_column_1 | or .Params.xtra_column_2 }}
    <div class="container">
        <div class="row">
            {{ if .Params.xtra_column_2 }}
                <div class="col-md-6"  style="background: white">
                    {{ .Params.xtra_column_1 | markdownify }}
                </div>
                <div class="col-md-6" style="background: white">
                    {{ .Params.xtra_column_2 | markdownify }}
                </div>
            {{ else }}
                <div class="col-md-3"></div>
                <div class="col-md-6" style="background: white">
                    {{ .Params.xtra_column_1 | markdownify }}
                </div>
            {{ end }}
            </div>
        </div>
    </div>
{{ end }}

