<nav class="navbar navbar-expand-md navbar-dark me-auto pta-navbar">
    <div class="container">
        <!-- DESKTOP -->
        <a href="{{ .Site.Home.RelPermalink }}" class="no-underline pta-navbar_logo ms-auto d-none d-sm-none d-md-inline">
            {{ with .Site.Params.site_logo }}
                <img src="{{ . }}" alt="{{ $.Site.Params.site_logo_alt }}" />
            {{ else }}
            {{ end }}

            {{ $title := replace .Site.Title " " "<br />" }}
            {{ $title | safeHTML }}
        </a>

        <!-- MOBILE -->
        <span class="d-inline d-sm-inline d-md-none">
            <a href="{{ .Site.Home.RelPermalink }}" class="ms-auto no-underline pta-navbar_logo">
                {{ with .Site.Params.site_logo }}
                    <img src="{{ . }}" alt="{{ $.Site.Params.site_logo_alt }}" />
                {{ else }}
                {{ end }}
                {{ .Site.Title }}
            </a>
        </span>

        <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2">
                {{ $currentPage := . }}
                {{ range .Site.Menus.nav }}
                <li class="list nav-item
                    {{ if $currentPage.IsMenuCurrent "nav" . }}
                        pta-navbar_link-wrapper__active
                    {{ end }}
                ">
                    <a class="
                        no-underline  nav-link pta-navbar_link
                        {{ if $currentPage.IsMenuCurrent "nav" . }}
                            pta-navbar_link__active
                        {{ end }}
                    "
                    href="{{ .URL }}" title="{{ .Name }} page">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
                {{ if .HasChildren }}
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "nav" . }}active{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ end }}
            </ul>
            {{ partial "i18nlist.html" . }}
        </div>
    </div>
</nav>
