<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">

    <div class="flex justify-between center pta-footer_inner">
      {{ if .Site.Menus.main }}
        <ul class="mr3">
        <li class="list f5 f4-ns fw4 dib pr3 white">
            NAVIGATION &mdash;
        </li>
          {{ $current := . }}
          {{ range .Site.Menus.main }}
            {{ $active := eq .Title $current.Title }}
            <li class="list f5 f4-ns fw4 dib pr3">
                <a class="white no-underline" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
                </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div class="flex justify-between center pta-footer_inner">
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
        </a>
        <div>{{ partial "social-follow.html" . }}</div>
    </div>


    <!-- Script tag for MailChimp -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</footer>
